[user]
    name = Thomas Ruoff
    email = ThomasRuoff@gmail.com
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[core]
    editor=vim -f +1 -c start!
    autocrlf=input
    eol=lf
    excludesfile = ~/.gitignore
[alias]
    rbm = rebase upstream/master
    rbc = rebase --continue
    st = status
    co = checkout
    cm = commit
    pr = !git fetch -fu ${2:-upstream} refs/pull/$1/head:pr/$1 && git checkout pr/$1 && :
    pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
    llog = log --date=local
    changes = diff --name-status -r
    diffstat = diff --stat -r
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    fix = "!f() { ${EDITOR} $(git diff --name-only | uniq ); }; f"
    last = "!l() { ${EDITOR} $(git diff-tree --no-commit-id --name-only -r HEAD ); }; l"
[rebase]
    autosquash = true
