[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:igrat/oh-my-zsh.git
[submodule "config/awesome"]
	path = config/awesome
	url = git@github.com:igrat/awesome-config.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
