!
!------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi: 120
Xft.autohint: false
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb

URxvt*depth:                32
URxvt*geometry:             90x30
URxvt*transparent:          false
URxvt*fading:               0
! URxvt*urgentOnBell:         true
! URxvt*visualBell:           true
URxvt*loginShell:           true
URxvt*internalBorder:       3
URxvt*lineSpace:            0
URxvt*skipBuiltinGlyphs:    true

! Fonts
URxvt*font:                 xft:Fira Code:style=Regular:size=11, \
                            xft:Droid Sans Fallback:style=Regular, \
                            xft:unifont:style=Medium
URxvt*boldFont:             xft:Fira Code:style=Bold:size=11, \
                            xft:Droid Sans Fallback:style=Regular, \
                            xft:unifont:style=Medium
URxvt*italicFont:           xft:Fira Code:style=Regular:size=11, \
                            xft:Droid Sans Fallback:style=Regular, \
                            xft:unifont:style=Medium
URxvt*boldItalicFont:       xft:Fira Code:style=Bold:size=11, \
                            xft:Droid Sans Fallback:style=Regular, \
                            xft:unifont:style=Medium

! Scrollbar
URxvt*scrollStyle:          rxvt
URxvt*scrollBar:            true
URxvt*scrollBar_right:      true

! Perl extensions
URxvt.perl-ext-common:      default,selection-to-clipboard,url-select,keyboard-select,matcher,font-size
URxvt.url-select.launcher:  xdg-open
URxvt.url-select.underline: true
URxvt.matcher.button:       1
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
URxvt.keysym.C-Up:          perl:font-size:increase
URxvt.keysym.C-Down:        perl:font-size:decrease
URxvt.keysym.C-S-Up:        perl:font-size:incglobal
URxvt.keysym.C-S-Down:      perl:font-size:decglobal

! scrollback buffer lines - 65535 is max on most machines (64 is default)
URxvt*saveLines:            65536

! Create a dump of the content of the terminal in /tmp
! <PRINT> : current screen
! <CTRL>+<PRINT> : current screen and scrollbackbuffer
URxvt*print-pipe:           cat > $(echo /tmp/urxvt.dump.$(date +'%Y-%m-%d--%H:%M:%S'))

! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
